---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Giscus from "@/components/widgets/Giscus.astro";
---

<BaseLayout title="board">
    <div class="w-full max-w-screen-lg mx-auto px-4 mt-12">
        <h1 class="text-3xl font-bold mb-2">Welcome to leave a message!</h1>
        <div class="text-base text-gray-500 mb-8" style="font-size: 0.95rem;">
            <span style="font-size:0.92em;">
                欢迎在这里留下你的足迹~
            </span>
        </div>
        <Giscus path="/board" />
    </div>
</BaseLayout>
