---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Waline from "@/components/widgets/Waline.astro";
---

<BaseLayout title="board">
    <div class="max-w-3xl mx-auto px-4 mt-12">
        <h1 class="text-3xl font-bold mb-2">Welcome to leave a message!</h1>
        <div class="text-base text-gray-500 mb-8" style="font-size: 0.95rem;">
            留下QQ邮箱，可以使用QQ头像~
            <br />
            或者在
            <a
                href="https://gravatar.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="underline text-blue-500 hover:text-blue-700"
            >
                Gravatar
            </a>
            设置头像~
        </div>
        <Waline path="/board" />
    </div>
</BaseLayout>
