---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
---

<BaseLayout title="Home">
  <MainCard
    title="Hi, I'm sixdayC"
    description="我时常觉得自己很健忘：忘记了一些人和事，忘记了自己从哪里来、又要到哪里去。所以我给我自己写了一个博客、一个`不受控制`的博客、一个`只属于我`的博客，让我可以写点东西、记点东西，不至于把过去忘得一干二净。--SunMaple"
    textOverlay="HOME"
    infoIcon="lucide:info"
  >
    <div class="space-y-8"></div>
  </MainCard>
</BaseLayout>
